<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="loginScript.js"></script>
    <script defer src="config.js"></script>
    <title>Login page</title>
    <script>
        var ENVIRONMENT = '<%= ENVIRONMENT.trim() %>'
    </script>
</head>
<body>
    <div id="container">
        <h3 id="registerMessage"></h3>
        <div id="loginContainer">
            <form name="loginForm" id="loginForm">
                <input name="username" type="text">
                <input name="password" type="password">
                <button id="submitLogin" type="submit">Login</button>
            </form>
        </div>
        <div id="registerContainer">
            <form name="registerForm" id="registerForm">
                <input name="username" type="text">
                <input name="password" type="password">
                <select name="role" id="role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <button id="submitRegister" type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>