body {
    margin: 0;
}

#modal {
    z-index: 2;
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 40%;
    background-color: white;
    border: 1px solid rgb(148, 137, 137);
    border-radius: 3px;
    box-shadow: 1px 1px rgb(0, 0, 0, 0.3);
}

#overlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(128, 128, 128, 0.5);
}